:root {
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
  --transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  --anime: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
}

@font-face {
  font-family: "Google";
  src: url(font/ProductSans-Bold.woff);
}
body {
  margin: 0;
  padding: 0;
  background: #e2e1e0;
  font-family: "Google", "sans-serif";
  text-align: center;
}

.container {
  background: #fff;
  border-radius: 10px;
  width: calc(100vw - 35px);
  min-height: calc(100vh - 30px);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}

#DSC-SJCET {
  width: 50vw;
  height: auto;
}

#SMALL-DSC-SJCET {
  display: none;
  width: 40vw;
  height: auto;
}

.main {
  margin-top: 5vw;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 5vw;
}

.card {
  text-decoration: none;
  width: 20vw;
  height: 20vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bi {
  color: #fff;
  font-size: 2.5rem;
  transition: var(--transition);
}

.instagram {
  background: #c13584;
  background: linear-gradient(45deg, #c13584 0%, #e1306c 30%, #f56040 67%, #f77737 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c13584", endColorstr="#f77737", GradientType=1);
}

.chapter {
  background: #db4437;
  background: linear-gradient(45deg, #db4437 19%, #f4b400 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db4437", endColorstr="#0f9d58", GradientType=1);
}

.twitter {
  background: #1da1f2;
  background: linear-gradient(45deg, #1da1f2 0%, #45b1ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1da1f2", endColorstr="#45b1ef", GradientType=1);
}

.github {
  background: #2b3137;
  background: linear-gradient(45deg, #2b3137 0%, #24292e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b3137", endColorstr="#24292e", GradientType=1);
}

.browser {
  background: #22b455;
  background: linear-gradient(45deg, #22b455 0%, #0ab242 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22b455", endColorstr="#0ab242", GradientType=1);
}

.discord {
  background: #7289da;
  background: linear-gradient(45deg, #7289da 0%, #5473d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7289da", endColorstr="#5473d8", GradientType=1);
}

h6,
h5 {
  color: rgba(0, 0, 0, 0.668);
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

h2 {
  display: none;
  font-size: 2rem;
  color: #eaeaea;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.allanime {
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.allanime:hover {
  box-shadow: var(--anime);
}
.allanime:hover .bi {
  font-size: 3rem;
}

@media (max-width: 700px) {
  .card {
    width: 40vw;
    height: 18vh;
  }
  .main {
    grid-template-columns: auto auto;
    gap: 15px;
  }
  #DSC-SJCET {
    display: none;
  }
  #SMALL-DSC-SJCET, h2 {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */